/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  color: #090506;
  font-family: 'Josefin Sans', sans-serif;
}

/* Text Styles */
.text-center {
  margin-left: 50px;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Image Styles */
.row img {
  width: 97vw;
  height: 90vh;
  border-radius: 15px;
  border: 5px solid #e5a586;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.abouting {
  width: 90%;
  height: 250px !important;
  border: 3px solid #e5a586;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Navbar Styles */
.navbar {
  border-bottom: 3px solid #e5a586;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px; /* Add padding to the left and right */
}

.navbar-brand {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: xx-large;
  color: #e5a586;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
  display: flex;
  flex-grow: 1;
  justify-content: center; /* Center navbar items */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link {
  color: #090506;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: #e5a586;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-left: auto; /* Pushes the search container to the right */
}

#search-input {
  border: none;
  padding: 10px;
  flex-grow: 1;
  border-radius: 30px;
  outline: none;
  background-color: #f1f1f1;
  font-size: 16px;
}

#search-input:focus {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  background-color: #e5a586;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #d4926d;
}

#search-results {
  margin-top: 0.5rem;
  font-size: 14px;
}

/* Card Image Styles */
.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #e5a586;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.aboutus-img img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  width: 80vh;
  border-radius: 10px;
  border: 3px solid #e5a586;
  margin-left: 55px;
}

/* Caption Styling */
.caption {
  margin-right: 30px;
  font-style: italic;
  color: #333;
  border-left: 4px solid #e5a586;
  padding-left: 10px;
}

/* About Row */
.about-row {
  display: flex;
  height: 100vh;
  background-color: #f3e0d2;
}

/* Sub-Part */
.sub-part {
  display: flex;
  height: 60vh;
  margin-top: 30px;
  margin-left: 57px;
  width: 90vw;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #e5a586;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Navbar Icon Image */
.nav-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #e5a586;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Popup Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ead3bc;
  padding: 20px;
  width: 55%;
  height: 80%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  border: 3px solid #e5a586;
}

.popup-image {
  border: 2px solid black;
  height: 48vh;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
}

.popup-description {
  background-color: #fff;
  margin-top: 20px;
  border: 2px solid #e5a586;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-controls {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Custom Marker Styles */
.custom-marker {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  background-size: cover; /* Ensure the background image covers the entire icon */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the background image */
}

.custom-marker img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

/* Modal Styles */
.modal-title {
  text-align: center; /* Center the title text */
  width: 100%; /* Ensure the title takes full width */
}

.modal-image-container {
  display: flex;
  justify-content: center; /* Center the image container */
  width: 100%;
}

.modal-image {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
}
